#! /bin/bash -e

DEFAULT_ZK_ENSEMBLE_SIZE=0
S3_SECURITY=""
HOSTNAME=$(hostname)

if [[ -n ${S3_BUCKET} ]]; then
  echo "backup-extra=throttle\=&bucket-name\=${S3_BUCKET}&key-prefix\=${S3_PREFIX}&max-retries\=4&retry-sleep-ms\=30000" >> {{ zookeeperexhibitor_home }}/defaults.conf

  BACKUP_CONFIG="--configtype s3 --s3config ${S3_BUCKET}:${S3_PREFIX} ${S3_SECURITY} --s3region ${AWS_REGION} --s3backup true"
else
  BACKUP_CONFIG="--configtype file --fsconfigdir {{ zookeeperexhibitor_home }}/zookeeper_local --filesystembackup true"
fi

exec 2>&1

# If we use exec and this is the docker entrypoint, Exhibitor fails to kill the ZK process on restart.
# If we use /bin/bash as the entrypoint and run wrapper.sh by hand, we do not see this behavior. I suspect
# some init or PID-related shenanigans, but I'm punting on further troubleshooting for now since dropping
# the "exec" fixes it.
#
# exec java -jar /opt/exhibitor/exhibitor.jar \
# 	--port 8181 --defaultconfig /opt/exhibitor/defaults.conf \
# 	--configtype s3 --s3config thefactory-exhibitor:${CLUSTER_ID} \
# 	--s3credentials /opt/exhibitor/credentials.properties \
# 	--s3region us-west-2 --s3backup true

java -jar {{ zookeeperexhibitor_home }}/{{ zookeeperexhibitor_file }} \
  --defaultconfig {{ zookeeperexhibitor_home }}/defaults.conf \
  ${BACKUP_CONFIG} \
  --hostname ${HOSTNAME}
